.q--heading{
    display: inline;
    margin: 2rem 0 2rem 1rem; 
    padding-top: 1rem;
}

.heading--div{
    display: flex;
    flex-direction:column ;
}

.q--add--btn{
    margin: 5px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: rgb(21, 128, 0);
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.q--add--btn:hover{
    transform: scale(1.2);
}

.q--input--form{
    margin: 1rem;
}
.q--input--form input{
    margin: 4px;
    padding: 5px;
    border-radius: 15px;
    border: black solid 1px;
}

.q--input--form button{
    margin: 4px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(88, 194, 88);
    cursor: pointer;
}
.q--input--form button:hover{
    background-color: rgb(61, 185, 50);
}