.goal--list{
    margin: 0;
    padding: 1rem;
    width: 100%;
}

.goal--list ul{
    color: white;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    /* flex-direction: column; */
    width: 100%;
}