.goal--list{
    margin: 0;
    padding: 1rem;
    width: 100%;
}

.goal--list ul{
    /* color: white; */
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.goal--list li{
    margin: 6px;
    padding: 1rem 2rem;
    background-color: rgb(35, 206, 19);
    border-radius: 13px;
    font-size: 20px;
}