.goal-list{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    list-style: none;
    color: white;    
}

.goal-list ul{
    margin: 0;
    padding: 1rem;
}

