.goal-item{
    margin: 6px;
    padding: 1rem 2rem;
    background-color: rgb(206, 19, 19);
    border-radius: 13px;
    font-size: 20px;
    justify-content: flex-start;
}

.goal-item button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 2rem 2rem 0 0;
    color: white;
    font-weight: bold;
    font-size: 15px;
}