.main-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: space-evenly;
}

.first-container{
    width: 50%;
}

.sec-container{
    width: 50%;
}